/MKEvent.java
/MKCollectorResubmitResults.java
/MKCollectorResubmitSettings.java
/MKGeoIPLookupResults.java
/MKGeoIPLookupSettings.java
/MKLibrary.java
/MKOrchestraResults.java
/MKOrchestraSettings.java
/MKTask.java
/MKVersion.java
